* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 60px;
    background-color: rgb(2, 144, 157);
}

.logo {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    line-height: 60px;
    font-size: 50px;
    color: white;
}

.logo img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

nav {
    vertical-align: middle;
    line-height: 60px;
    float: right;
    margin-right: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
}

nav a:hover {
    background-color: rgb(3, 120, 130);
    ;
    border-radius: 5px;
}

#images {
    /* align-items: center; */
    margin: 50px auto;
    background-color: #ddd;

}

#Carts,
#Favorites {
    margin: 50px auto;
    background-color: #ddd;
}

td {
    padding: 10px;
    background-color: white;
    border: 2px solid whitesmoke;
    border-radius: 16px;
}

td img {
    width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 16px;
}

#search {
    display: inline-block;
    background-color: whitesmoke;
    width: 40%;
    margin-top: 20px;
    margin-left: 435px;
    line-height: 30px;
    vertical-align: top;
    border: none;
    border: 2px solid #04bcc3;
    border-radius: 20px;
    font-weight: bolder;
    padding: 8px;
}

.cart,
.fav {
    display: inline-block;
    text-align: center;
    background-color: rgb(2, 144, 157);
    width: 100%;
    height: 40px;
    border: 3px solid #04bcc3;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px auto;
    color: white;
    font-weight: bolder;
}

p {
    font-weight: bolder;
    font-size: large;
    padding: 3px;
    color: black;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #04bcc3;
    /* padding: 10px; */
    text-align: center;
    line-height: 50px;
    color: whitesmoke;
    font-weight: bold;
}

span {
    display: inline-block;
    font-weight: bolder;
    font-size: large;
    padding: 3px;
    color: black;
}

.minusBtn,
.plusBtn {
    display: inline-block;
    text-align: center;
    background-color: rgb(2, 144, 157);
    width: 40px;
    height: 40px;
    border: 3px solid #04bcc3;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
    color: white;
    font-weight: bolder;
    line-height: 34px;
}
.sub{
    padding-top: 20px;
}

.tp{
    background-color: #04bcc3;
    border: 2px solid violet;
    border-radius: 2px;
    width: 200px;
}

.page-title{
    text-align: center;
    margin: 30px 0 10px;
    color: rgb(2, 144, 157);
    font-size: 32px;
}

.empty-state{
    text-align: center;
    font-size: 20px;
    padding: 40px 0;
}