body {
    background-image: url(../Images/back.png);
    background-repeat: repeat-x;
    background-position: center top;
}

header {
    width: 100%;
    height: 60px;
    background-color: violet;
}

.logo {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    line-height: 60px;
}

.logo img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

nav {
    vertical-align: middle;
    line-height: 30px;
    float: right;
    margin-right: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
}

nav a:hover {
    background-color: rgb(136, 85, 136);
    border-radius: 5px;
}

.container {
    text-align: center;
    background-color: violet;
    width: 70%;
    padding: 20px;
    margin: 100px auto;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.container p {
    color: white;
}

tr td {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    border: 2px solid green;
    border-radius: 40px;
    position: relative;
    left: 300px;
    margin-left: 80px;
    text-align: center;
}

td a {
    color: gold;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

td p {
    font-size: 20px;
    font-weight: bold;
}

footer {
    margin-top: 50px;
    height: 20px;
    padding: 20px;
    background-color: violet;
}