* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
}

header {
    width: 100%;
    height: 60px;
    background-color: violet;
}

.logo {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    line-height: 60px;
}

.logo img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

nav {
    vertical-align: middle;
    line-height: 60px;
    float: right;
    margin-right: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
}

nav a:hover {
    background-color: rgb(136, 85, 136);
    border-radius: 5px;
}

section {
    width: 100%;
    text-align: center;
}

table {
    display: inline-block;
    border-collapse: collapse;
    margin: 20px 0;
}

td {
    padding: 10px;
}

td img {
    width: 300px;
    height: 200px;
    display: block;
}

td a {
    display: inline-block;
    text-decoration: none;
    position: relative;
}

td a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(238, 130, 238, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
}

td a:hover::after {
    opacity: 1;
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.title td {
    padding: 10px 0;
}

footer {
    width: 100%;
    height: 50px;
    background-color: violet;
    margin-top: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: white;
}