* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 350px;
    height: 400px;
    background-color: #eee;
    margin: 100px auto;
    border-radius: 20px;
    padding: 20px;
}

body {
    background-image: url(../Images/back.png);
    background-repeat: repeat-x;
    background-position: center top;
}

.person {
    display: block;
    margin-bottom: 2px;
    text-align: center;
}

.person img {
    display: inline-block;
}

tr {
    height: 60px;
}

input {
    width: 85%;
    padding: 10px 0;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    background-color: transparent;
}

input[type=text]:active,
input[type=text]:focus,
input[type=password]:active,
input[type=password]:focus {
    border-bottom: 2px solid lightblue;
}

button {
    width: 50%;
    padding: 10px 0;
    border: none;
    outline: none;
    background-color: violet;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #da70d6;
}

a {
    color: violet;
    font-weight: bold;
}

a:hover {
    color: #da70d6;
}