 table {
     background-color: magenta;
     width: 400px;
     text-align: center;
     margin: 30px auto;
     border: 2px solid lightblue;
 }

 td {
     border: 2px solid green;
 }

 h4 {
     color: lightblue;
     text-align: center;
 }
 input{
    background-color: lightgray;
 }