body {
    background-image: url(../Images/back.png);
    background-repeat: repeat-x;
    background-position: center top;
}

.container {
    width: 40%;
    margin: 100px auto;
    padding: 20px;
    background-color: violet;
    border-radius: 50px;
}

header {
    width: 100%;
    height: 60px;
    background-color: violet;
}

.logo {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    line-height: 60px;
}

.logo img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

nav {
    vertical-align: middle;
    line-height: 30px;
    float: right;
    margin-right: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
}

nav a:hover {
    background-color: rgb(136, 85, 136);
    border-radius: 5px;
}